<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="dark">
  {{ partial "head.html" . }}
  <body>
    <div id="top" class="container paper">
      {{ partial "nav.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "google-analytics-async.html" . }}

      <div class="to-top">
        <a href="#top" class="paper-btn margin">^</a>
      </div>
    </div>

    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  </body>
</html>
