{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>

{{ with .Params.tags }}
<div class="tags">
{{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}" style="text-decoration: none !important;">
        <span class="badge">
            {{ . }}
        </span>
    </a>
{{ end }}
</div>
{{ end }}

{{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
<strong>Publish date: </strong>{{ .PublishDate.Format $dateFormat }}
<br>
<strong>Author: </strong>{{ .Params.author }}
<br>
<hr>

{{ if ne .Params.toc false }}
{{ partial "toc.html" . }}
{{ end }}

{{- with .Content -}}
<article>
    {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">  &para;</a> ${3}` | safeHTML }}
</article>
{{- end -}}

{{ template "_internal/disqus.html" . }}

{{ end }}
