{{ define "main" }}

<h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl mb-3">{{ .Title }}</h1>

{{ with .Params.tags }}
<div class="flex flex-wrap gap-2">
{{ range . }}
    <div class="relative flex items-center space-x-2 rounded-lg border border-gray-400 border-dashed bg-ac-background px-2 py-1 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
        <div class="flex-shrink-0">
            <span class="sr-only">Tag</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
            </svg>
        </div>
        <div class="min-w-0 flex-1">
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}" class="no-underline">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="font-medium text-white underline">{{ . }}</p>
            </a>
        </div>
    </div>
{{ end }}
</div>
{{ end }}

<div class="my-4">
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    <div class="flex items-center text-white">
        <!-- Heroicon name: mini/calendar -->
        <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
        </svg>
        <div>Published: <time datetime="{{ .PublishDate.Format "2006-01-02 15:04" }}">{{ .PublishDate.Format $dateFormat }}</time></div>
    </div>

    <div class="flex items-center text-white">
        <!-- Heroicon name: outline/pencil -->
        <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>

        <div>Author: {{ .Params.author }}</div>
    </div>
</div>

{{ if ne .Params.toc false }}
{{ partial "toc.html" . }}
{{ end }}

{{- with .Content -}}
<article>{{ . }}</article>
{{- end -}}

<div class="w-full grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-y-0 gap-x-4 my-6">
    {{ if eq .Next nil }}
    <div></div>
    {{ else }}
    {{ with .Next }}
    <a href="{{ .Permalink }}" class="rounded-lg border border-dashed border-gray-400 py-2 px-4 items-center text-white flex space-x-2 text-gray-400">
        <div class="flex items-center text-sky-500 flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg>
        </div>
        <div class="flex flex-grow">{{ .Title }}</div>
    </a>
    {{ end }}
    {{ end }}

    {{ if eq .Prev nil }}
    <div></div>
    {{ else }}
    {{ with .Prev }}
    <a href="{{ .Permalink }}" class="rounded-lg border border-dashed border-gray-400 py-2 px-4 items-center text-white flex space-x-2 text-gray-400">
        <div class="flex flex-grow">{{ .Title }}</div>
        <div class="flex items-center text-sky-500 flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>

<div class="to-bottom">
    <a href="#bottom" class="to-bottom-btn">
        <span class="sr-only">To bottom</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>
    </a>
</div>

<script src="https://utteranc.es/client.js"
        repo="alistaircol/ac-website"
        issue-term="pathname"
        label="comments"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>

{{ end }}
